*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/.name
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/wallet_sdk/src/main/java/com/qiibee/wallet_sdk/services/WalletSimple.kt